body{
    background: linear-gradient(75deg, rgb(228, 215, 215),rgb(230, 230, 230));
}

.jumbotron{
    background-image: url(./img/diamond-620521_1280.jpg);
    background-size: cover;
    color: white;
}
.navbar{
    background-color: rgb(200, 200, 255);
    color: rgb(110, 110, 255);
}
.h2-jumbo{
    margin-bottom: 20px;
}
#shop-now{
    margin-bottom: 50px;
}
#info{
    margin-bottom: 30px;
}
#agree{
    font-size: 10px;
}
#email-container{
    margin-top: 120px;
    min-height: 250px;
}
#card-container{
    margin-top: 50px;
}
#more-info{
    margin-top: 50px;
    margin-bottom: 100px;
    min-height: 150px;
}

.card{
    float: left;
    margin: 30px;
    border: 1px solid #000;
    font-size: 15px;
}
.ci{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    height: 128px;
}
.credits{
    font-size: 10px;
}
.card-img-top{
    width: 100%;
}

input[type="email"] {
    max-width: 350px;
    width: 100%;
}